---
import Section from '@/components/Section.astro';
import { basics } from '@cv';

const { summary } = basics;
---

<Section title="Sobre mi">
  <p class="summary">
    {summary}
  </p>
</Section>

<style>
  .summary {
    max-width: 68ch;
    line-height: 1.65;
    color: var(--color-text-base);
  }
</style>
