---
import ProjectLayout from "@/layouts/ProjectLayout.astro";
---

<ProjectLayout title="AppSalon Laravel">
  <div>
    <p>
      Aplicación para gestionar las citas de los clientes en una barberia y se
      puede adaptar a un salón de belleza, dentista, nutricionista, etc.
    </p>

    <div class="contenedor">
      <p class="descripcion">
        Este proyecto esta hecho en la parte del frontend con Vue, Vue
        Router,Pinia y Tailwindcss y en la parte del backend está hecha con
        Laravel API y Mysql para la base de datos
      </p>

      <p class="descripcion">
        En este proyecto cada usuario puede registrarse para poder agendar sus
        citas, una vez que se registre puede iniciar sesión con sus
        credenciales. También cuenta con la opción de recuperar contraseña.
      </p>
      <img
        src="/images/app-salon/1-registro.jpg"
        alt="Imagen de registro"
        class="imagen"
      />

      <p class="descripcion">
        Una vez que se inicie sesión podrá ver sus citas. Agendar citas viendo
        los servicios y los horarios disponibles. Puedes editar la cita o
        eliminarla, notificando al administrador por medio de un correo
        electrónico.
      </p>
      <div class="group-images">
        <img
          src="/images/app-salon/4-agendar.jpg"
          alt="Imagen de citas"
          class="imagen"
        />

        <img
          src="/images/app-salon/3-agendar.jpg"
          alt="Imagen de citas"
          class="imagen"
        />
      </div>

      <p class="descripcion">
        En la parte del administrador podrá ver todas las citas agendadas por
        los clientes.
      </p>
      <img
        src="/images/app-salon/5-admin.jpg"
        alt="Imagen de citas"
        class="imagen"
      />

      <p class="descripcion">
        Como administrador también podrás ver los servicios, actualizar
        disponibilidad, agregar, y editar.
      </p>
      <img
        src="/images/app-salon/6-admin.jpg"
        alt="Imagen de citas"
        class="imagen"
      />

      <div class="descripcion">
        <div>
          Puedes probar la aplicación con las siguientes credenciales:

          <h3>Usuario</h3>
          <br />
          <strong>user:</strong> fran@gmail.com
          <br />
          <strong>pass:</strong> 12345678
          <br />
          <br />

          <h3>Administrador</h3>
          <br />
          <strong>user:</strong> pedri1@gmail.com
          <br />
          <strong>pass:</strong> 12345678
        </div>

        <p class="descripcion">
          Puedes registrarte con un correo y verificar su funcionamiento.
          <a
            target="_blank"
            class="enlace"
            href="https://appsalon-lv-fs.mnz.dom.my.id/auth/registro">Enlace</a
          >
          <br />
        </p>
      </div>
    </div>
  </div>
</ProjectLayout>