---
import ProjectLayout from "@/layouts/ProjectLayout.astro";
---

<ProjectLayout title="App Liga de fútbol">
  <div>
    <p>
      Aplicación para la gestión de una liga local de fútbol. Hecho con Laravel
      como API y Vue como frontend.Para la base de datos esta usando Mysql.
    </p>

    <div class="contenedor">
      <h2>Parte del Administrador</h2>
      <p class="descripcion">
        Este proyecto es para llevar el seguimiento de una liga de fútbol local
        en el que hay un administrador el cual lleva la gestión de la liga. El
        proyecto cuenta con un inicio de sesión que al hacer login puedes
        acceder al panel de administración.
      </p>

      <img
        src="/images/app-liga/1.jpg"
        alt="Imagen de administración"
        class="imagen"
      />

      <p class="descripcion">
        Una vez entras al administrador puedes ver la información más destacadas
        como el número de equipos registrados, el número de jornadas creadas y
        el número de partidos jugados. Se muestra la tabla de posiciones
        ordenada como una liga profesional. También puedes ver los próximos
        partidos por fecha.
      </p>

      <div class="group-images">
        <img
          src="/images/app-liga/2.jpg"
          alt="Imagen de tabla de posiciones"
          class="imagen"
        />
        <img
          src="/images/app-liga/3.jpg"
          alt="Imagen de próximos partidos"
          class="imagen"
        />
      </div>

      <p class="descripcion">
        El administrador puede ver los equipos registrados. Puede crear equipos,
        eliminarlos y editarlos.
      </p>

      <div class="group-images">
        <img
          src="/images/app-liga/4.jpg"
          alt="Imagen de gestión de equipos"
          class="imagen"
        />
        <img
          src="/images/app-liga/5.jpg"
          alt="Imagen de creación de equipos"
          class="imagen"
        />
      </div>

      <p class="descripcion">
        Puede ver las jornadas, crear jornadas y eliminarlas. La jornada se
        puede crear por número o nombre de la jornada, al actualizarla puedes
        cambiar esto.
      </p>

      <div class="group-images">
        <img
          src="/images/app-liga/6.jpg"
          alt="Imagen de gestión de jornadas"
          class="imagen"
        />
        <img
          src="/images/app-liga/7.jpg"
          alt="Imagen de creación de jornadas"
          class="imagen"
        />
      </div>

      <p class="descripcion">
        En la parte de los partidos puede verlos, crearlos, editarlos,
        eliminarlos y actualizar el marcador.
      </p>

      <div class="group-images">
        <img
          src="/images/app-liga/7.jpg"
          alt="Imagen de creación de jornadas"
          class="imagen"
        />
        <img
          src="/images/app-liga/8.jpg"
          alt="Imagen de gestión de partidos"
          class="imagen"
        />
        <img
          src="/images/app-liga/9.jpg"
          alt="Imagen de creación de marcador"
          class="imagen"
        />
        <img
          src="/images/app-liga/10.jpg"
          alt="Imagen de actualización de marcador"
          class="imagen"
        />
      </div>

      <h2>Parte Pública</h2>

      <p class="descripcion">
        La aplicación cuenta con una landing page la cual muestra información
        relevante de la liga para los que esten interesados en seguirla. Muestra
        la temporada actual y el número de equipos participantes, los próximos
        10 partidos,la tabla de posiciones. También puedes ver la ubicación en
        donde se llevan a cabo los partidos. Puedes ver todos los partidos que
        hay en la temporada. Ver todos los partidos de cada equipo de la liga.
      </p>

      <h3>Landing Page</h3>
      <div class="group-images">
        <img
          src="/images/app-liga/11.jpg"
          alt="Imagen del header de la landing page"
          class="imagen"
        />

        <img
          src="/images/app-liga/12.jpg"
          alt="Imagen de los próximos partidos"
          class="imagen"
        />

        <img
          src="/images/app-liga/13.jpg"
          alt="Imagen de la tabla de posiciones en la landing page"
          class="imagen"
        />
        <img
          src="/images/app-liga/14.jpg"
          alt="Imagen de la tabla de posiciones en la landing page"
          class="imagen"
        />
      </div>

      <h3>Detalles de un equipo</h3>
      <img
        src="/images/app-liga/15.jpg"
        alt="Imagen de la tabla de posiciones en la landing page"
        class="imagen"
      />
      <h3>Detalles de una jornada</h3>
      <img
        src="/images/app-liga/16.jpg"
        alt="Imagen de la tabla de posiciones en la landing page"
        class="imagen"
      />
      <h3>Detalles de los partidos de la liga</h3>
      <img
        src="/images/app-liga/17.jpg"
        alt="Imagen de la tabla de posiciones en la landing page"
        class="imagen"
      />

      <h2>Actualización - Temporadas</h2>

      <p class="descripcion">
        Al proyecto le agregué una funcionalidad de temporadas, para que el
        administrador de la liga pueda crear una nueva cada vez que se finaliza
        una. Esto hace que el sistema sea más mantenible. Cada vez que se crea
        una nueva temporada, esta acción genera también la creación de nuevos
        equipos, jornadas, partidos y tablas de posiciones, de modo que cada
        temporada está relacionada con sus propios datos. El administrador puede
        cambiar o visualizar los datos de cada temporada activándola o
        desactivándola. En la página de inicio (landing page) se visualizará la
        última temporada creada por el administrador, mostrando todos sus datos.
      </p>

      <div class="group-images">
        <img
          src="/images/app-liga/18.jpg"
          alt="Imagen de la tabla de temporadas"
          class="imagen"
        />
        <img
          src="/images/app-liga/19.jpg"
          alt="Imagen de dashboard conla temporada activa"
          class="imagen"
        />
        <img
          src="/images/app-liga/20.jpg"
          alt="Imagen de la landing page con datos de la última temporada creada"
          class="imagen"
        />
        <img
          src="/images/app-liga/21.jpg"
          alt="Imagen de la landing page con datos de la última temporada creada"
          class="imagen"
        />
      </div>

      <h2>Actualización - Jugadores</h2>

      <p class="descripcion">
        Al proyecto le he agregado la funcionalidad de jugadores, donde el
        administrador puede agregar jugadores a cada equipo, permitiendo
        visualizarlos, editarlos y eliminarlos. Además, en la parte de la
        landing page, al visualizar un equipo también se pueden ver sus
        jugadores.
      </p>

      <div class="group-images">
        <img
          src="/images/app-liga/22.jpg"
          alt="Imagen de la lista de jugadores en el dashboard"
          class="imagen"
        />
        <img
          src="/images/app-liga/23.jpg"
          alt="Imagen de la vista de crear jugadores en el dashboard"
          class="imagen"
        />
        <img
          src="/images/app-liga/24.jpg"
          alt="Imagen de la vista de editar jugadores en la landing page"
          class="imagen"
        />
      </div>

      <h2>Actualización - Tabla de Goleadores</h2>
      <p class="descripcion">
        Gracias a la funcionalidad de jugadores, implementé un nuevo módulo para
        que en cada partido se pueda asignar el gol al jugador del equipo que lo
        marcó. Se ha creado también una tabla de goleadores que muestra la lista
        de todos los jugadores que han anotado, ordenándolos del que tiene más
        goles al que tiene menos. De igual forma, en el panel de administración
        ahora se puede ver una página con los detalles del partido, mostrando
        qué jugadores marcaron. En la página de inicio (landing page) también se
        muestra ahora una vista con los detalles de un partido, incluyendo los
        anotadores. Además, en la página principal se exhibe la tabla de
        goleadores de la temporada actual.
      </p>

      <div class="group-images">
        <img
          src="/images/app-liga/25.jpg"
          alt="Imagen de la lista de goleadores en el dashboard"
          class="imagen"
        />
        <img
          src="/images/app-liga/26.jpg"
          alt="Imagen de vista de un juego para agregar marcadores en el dashboard"
          class="imagen"
        />
        <img
          src="/images/app-liga/27.jpg"
          alt="Imagen de vista de un juego con marcadores en el dashboard"
          class="imagen"
        />
        <img
          src="/images/app-liga/28.jpg"
          alt="Imagen de vista del resultado de un partido con marcadores en el dashboard"
          class="imagen"
        />
        <img
          src="/images/app-liga/29.jpg"
          alt="Imagen de tabla de goleadores en la landing page"
          class="imagen"
        />
        <img
          src="/images/app-liga/30.jpg"
          alt="Imagen de un resultado de partido en la landing page"
          class="imagen"
        />
      </div>
    </div>
  </div>
</ProjectLayout>
